<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>author</key>
			<string>林志颖/Kimi/张亮/张悦轩/郭涛/郭子睿/王岳伦/王诗龄</string>
			<key>name</key>
			<string>爸爸去哪儿</string>
			<key>desc</key>
			<string>《爸爸去哪儿》是湖南卫视2013年第四季度大型明星亲子生存体验真人秀节目《爸爸去哪儿》的同名主题曲。\n湖南卫视《爸爸去哪儿》开播来势喜人，一夜之间成为街头巷尾热议节目。同时该节目片尾时的同名主题曲也被网友大为称赞，朗朗上口的音乐节奏迅速被被传唱开来，而亲切调皮又不失温馨的歌词来自才女吴梦知。</string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://3.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>莫扎特</string>
			<key>name</key>
			<string>致爱丽丝</string>
			<key>desc</key>
			<string>《至爱丽丝》（for Elise）是贝多芬创作的一首其钢琴小品。贝多芬是集西方古典派之大成，开浪漫乐派之先河的伟大作曲家。人们都比较熟悉他的交响曲、协奏曲、室内乐和歌剧等大型作品，但是，他的为数不多的器乐小品，也同样给人留下了深刻的印象。钢琴小品《献给爱丽丝》就是其中比较著名的一首。但乐谱发现于1867年，因此贝多芬生前并未发表。</string>
			<key>opporunity</key>
			<string></string>
			<key>url</key>
			<string>http://3.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>班得瑞</string>
			<key>name</key>
			<string>晨光</string>
			<key>desc</key>
			<string>你在聆听这首曲子的时候，会被它有没的自然音乐所感染，乐曲中所表现的晨光柔和而又充满着活力，会让你觉得仿佛有一片绿油油的麦田，正在充分地享受阳光的气息，而这个时候的人们刚刚起床，上学的孩子们也在路上轻轻的歌唱······</string>
			<key>opportunity</key>
			<string>这首《晨光》是由班得瑞团队所作。1990年发迹瑞士的班得瑞，来自一群爱好生命的年轻作曲家、演奏家及音源采样工程师等青年才俊。他们是一群生活在瑞士山林的音乐精灵。而且从不愿意在媒体曝光，一旦开始执行音乐制作，便深居在阿尔卑斯山林中，直到母带成品完成。置身在自然山野中，让班得瑞乐团拥有源源不绝的创作灵感，也拥有最自然脱俗的音乐风格。</string>
			<key>url</key>
			<string>http://2.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>德彪西</string>
			<key>name</key>
			<string>月光</string>
			<key>desc</key>
			<string>在柔美的月夜里，或者在你想要听音乐的任何时候，闭上眼睛，打开这首《月光》，让每一个音符在你的心里流淌，想象心中的那篇月色，这种美丽让你回味无穷，你的情感和这静谧的背景定会搭配得天衣无缝，而这样的美感也会通过你的感觉神经静静地感染着你负重的胎宝宝。</string>
			<key>opportunity</key>
			<string>德彪西的钢琴小曲《月光》，描绘了月光的美丽与神秘，美丽的旋律暗示了对月光的印象，仿佛能让人看到月光闪烁的皎洁，把灵艳的月光泻洒下的冰一样的银辉展现得淋漓尽致。从这首《月光》透过轻轻浮动的云，影影绰绰地洒在瓶颈的睡眠的情景，就如果置身于晴朗而幽静的深深氛围之中。</string>
			<key>url</key>
			<string>http://2.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>中国民乐大师纯独奏</string>
			<key>name</key>
			<string>渔樵问答</string>
			<key>desc</key>
			<string>吃过早饭之后，如果你不急于上班，就在阳台或原子里慢慢地踱着步，听着渔夫和樵夫的“对话”。你可以边听边想象他们谈话的内容，但你可能会发现，一首曲子可以轻轻地将你带入惬意的田园意境。</string>
			<key>opportunity</key>
			<string>《渔樵问答》是一首古琴曲，描述的是一个渔夫和一个樵夫聊天的情景，充满了自然的趣味。乐曲开始曲调悠然自得，表现出一种飘逸洒脱的格调，上下句的呼应造成渔樵对打的情趣。主题音调的变化发展，并不断加入新的音调，刻画出隐士豪放无羁、潇洒自得的情状。使人仿佛看到高山巍巍，听到樵夫咚咚的伐木声。</string>
			<key>url</key>
			<string>http://2.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>舒曼</string>
			<key>name</key>
			<string>梦幻曲</string>
			<key>desc</key>
			<string>看过香港电影《春天花花幼儿园》的孕妈妈可能会对舒曼的这首《梦幻曲》有较深的印象，这首曲子曾被用作这部电影的主题曲，是一首世界名曲，经常被改编成各种乐器的独奏曲。</string>
			<key>opportunity</key>
			<string>《梦幻曲》是舒曼与1838年创作的一首钢琴曲，成为《童年情景》中的一部分，描写了儿童的快乐生活，表现了成年人对童年时光的回忆。\n听这首曲子，特别适合把音量调到若隐若现的状态，在优美旋律下，你和胎宝宝会感受到清新与自然，你在给胎宝宝朗诵诗歌或者是讲故事的时候，也可以用这首曲子来配乐，已经将再美不过了。</string>
			<key>url</key>
			<string>http://2.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>贝多芬</string>
			<key>name</key>
			<string>田园</string>
			<key>desc</key>
			<string>儿时那散发着泥土芳香的田间小路是不是经常勾起你甜美的回忆？那个时候的你还是个孩子呢，可现在你就已经是一个孩子的母亲了，这真是用文字难以描述的心情，现在就让贝多芬优美动人的乐曲包随着你，去漫游那恬静的田园风光吧！</string>
			<key>opportunity</key>
			<string>《田园》是贝多芬的F大调第六号交响曲，其灵感来自于大自然，整部作品表达了对大自然的依恋之情，细腻动人，朴实无华，宁静而安逸。当你与胎宝宝一起漫步于小区花园或是林荫小道时，听一听这首《田园》，满耳的大自然的声音和满眼的大自然的颜色会让你从心灵深处呼吸到那纯净清晰的空气，和胎宝宝一起，美美地感受一下吧。</string>
			<key>url</key>
			<string>http://1.babyalarm2.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>爱德华·格里格</string>
			<key>name</key>
			<string>晨曲</string>
			<key>desc</key>
			<string>《晨曲》是挪威作曲家爱德华格里格为他的朋友易卜生创作的一部大型音乐组曲《皮尔·金特》中的第一乐章。\n这首乐曲极富表现力，像是一缕宁静的阳光穿透心灵，朝阳、晨光、薄雾、河流配合着若何的旋律，在弦乐上跳动，在乐管间流淌，展示着婉转的黎明，非常适合作为胎教音乐。乐曲篇幅不长，孕妈妈若用心聆听，可以感觉到像是沐浴在海上吹来的平和晨风里，整个人被笼罩在一片阳光中。\n乐曲的开始先由长笛吹奏出悠扬美好的晨曲主题，幽静的晨曦中，金色的旭日冉冉升起。短暂的反复后，大提琴表现出一个灰色的乐句，仿佛是乌云的遮挡，叙述出整个主题的矛盾，对喷薄而出的敬请的暂时掩盖反而更加突出了背后的希望。不断上扬的旋律由一个变奏开始渐轻，回到了主题的再现，希望洋溢在其间，仿佛能看到清晨的浓雾徐徐散去，一轮红日缓缓从地平线上冉冉上升，远方的山野孕育着勃勃的升级，清新空气围绕在你周围······</string>
			<key>opportunity</key>
			<string>孕妈妈在焦躁不安的时候，不妨静下心来，安静地聆听这首乐曲，把自己置身在一个晨风拂面的早晨，闭上眼睛去感受。那徐徐的微风、冉冉升起的太阳、缓缓流淌着的溪流会帮你赶走心头的紧张与焦虑。</string>
			<key>url</key>
			<string>http://2.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>莫扎特</string>
			<key>name</key>
			<string>D大调嬉游曲</string>
			<key>desc</key>
			<string>嬉游曲是１８世纪的组曲，同小夜曲和遣兴曲一样，是供娱乐、消遣的轻松音乐，由室内重奏组或小型乐队在室内或露天演奏。莫扎特写过２５首称为“揭游曲”的作品，大多为小型管弦乐作品。
    此曲的规模当属他最轻松、最有光泽的作品之列。在最基本的四个声部的弦乐组上，莫扎特增加了一个低音提琴以加强音乐的厚度，两支圆号使音乐色彩更为丰富、和谐。
    这首嬉游曲由六个乐章构成，同通常三乐章的植游曲和四乐章的交响曲明显区别开来，不过交响曲的因素经常渗透其间。</string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://2.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>莫扎特</string>
			<key>name</key>
			<string>蜗牛的家</string>
			<key>desc</key>
			<string>莫扎特同样创作于1776年的这首D大调小夜曲，编号为K.250（K.248b），在莫扎特所有小夜曲作品中排序第七首。之所以称之为“哈夫纳小夜曲” 是因为这部作品是作曲家当时专为自己故乡萨尔兹堡市市长西格蒙特·哈夫纳特别创作的——哈夫纳市长的女儿在当年7月22日举行婚礼，莫扎特的这部小夜曲就是为这场婚典准备的。</string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://1.babyalarm2.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>莫扎特</string>
			<key>name</key>
			<string>小夜曲</string>
			<key>desc</key>
			<string>小夜曲原是中世纪欧洲行吟诗人在恋人的窗前所唱的爱情歌曲，流行于西班牙、意大利等国家。演唱时常用吉他、曼陀林等拨弦乐器伴奏，歌声缠绵婉转，悠扬悦耳。后来器乐独奏的小夜曲，也和声乐小夜曲同样流行。奥地利作曲家莫扎特的歌剧《唐·璜》第二幕里的小夜曲，是在少女的窗前弹着曼陀林歌唱的典型小夜曲。</string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://2.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>莫扎特</string>
			<key>name</key>
			<string>摇篮曲</string>
			<key>desc</key>
			<string> 孕妇唱摇篮曲，腹中的胎儿也会学着“歌唱”，这种有氧运动能刺激胎儿脑细胞的生长、提高其运动的活力、改善母体——胎盘的血液循环，从而降低胎内感染，并预防胎儿窒息及缺氧症的发生。同时，准妈妈在怀孕期间多唱一些曲调平缓、优美轻松的歌曲，不仅有利于身心愉悦，还有利于胎儿将来听觉的发展。\n据专家介绍，舒伯特《摇篮曲》音域窄、曲调平缓，因此非常适合准妈妈哼唱。\n许多准妈妈担心自己五音不全，唱歌会“误导”宝宝。其实，母亲给胎儿唱歌不需要技巧，需要的是母亲对胎儿的一片深情。只要带着深深的母爱去唱，就是世间最美好的声音。因此，准妈妈们在空余的时间里，不妨经常哼唱一些自己喜爱的歌曲，把愉快的信息通过歌声传送给胎儿，使宝宝能分享你喜悦的心情。\n当然，唱歌的时候也应当注意，尽量使声音往上腭部集中，把字咬清楚。另外，由于怀孕期间女性声带轻度水肿，耐受性下降，因此唱歌不要过度。缺乏嗓音保健知识，容易出现各种嗓音问题，比如疲劳性喉炎、声带小结、声带息肉等疾病。\n在感冒、睡眠不足、过度疲劳时，最好不要长时间纵情高歌，若此时仍乱唱猛唱，可导致不可逆转的声嘶。</string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://3.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>莫扎特</string>
			<key>name</key>
			<string>花仙子的花篮</string>
			<key>desc</key>
			<string></string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://1.babyalarm2.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>莫扎特</string>
			<key>name</key>
			<string>油菜花开(选自降E大调第九钢琴协奏曲)</string>
			<key>desc</key>
			<string>第一乐章：降E大调；快板；奏鸣曲式，其主题分成动机，由全合奏以主奏钢琴各以对话方式呈现，然后主奏钢琴呈现第二主题，其以属调呈示。
发展部分以开头相同的方式展开，移入再现部分则再现主奏钢琴以合奏的对话。
除两个主题形成对比外，这个乐章加入了优美的旋律，华彩有两种表现！

第二乐章：c小调；小行板；奏鸣曲式，以加有弱音器的小提琴序奏开始，第一主题在序奏时就开始呈现，第二主题与第一乐章开头相同，在合奏之中，主奏钢琴予以应答，降e小调，发展部教短小，再现部省略序奏而直接再现！

第三乐章：降E大调；回旋曲；急板，A－B－A－C－A－B－A大回旋曲式；开始的A段的主题部分由主钢琴呈现，开头的分散和弦印象深刻，B段以主奏钢琴为中心，AB段之间有即兴的三种间奏，经过后C段为降E大调如歌似的小步舞曲，变奏主题在弦乐伴奏下幽雅反复，钢琴展开技巧在短小的第二个引子后引出第三伦的A，第三副主题B则以愿调呈现！</string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://2.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>莫扎特</string>
			<key>name</key>
			<string>土耳其进行曲</string>
			<key>desc</key>
			<string>莫扎特的《土耳其进行曲》是他的钢琴奏鸣曲——K331的第三乐章。莫扎特共谱写了十九首钢琴奏鸣曲。这些奏鸣曲都显示出明朗乐观的乐思，完美匀称的结构和严谨如歌的旋律等创作特征。《A大调钢琴奏鸣曲》是其中的第十一首，也是最著名的一首。它只有三个乐章，第一乐章是“文雅的行板”，第二乐章是“小步舞曲”，第三乐章就是《土耳其进行曲》。</string>
			<key>opportunity</key>
			<string>《土耳其进行曲》，为奥地利音乐家莫扎特的A大调第十一号钢琴奏鸣曲（KV.331）的第三乐章，又称为 Alla Turca（土耳其风回旋曲）。于1781年至1783年间在慕尼黑或维也纳所作。而这首乐曲亦曾被改编为香港动画《麦兜故事》插曲《仲有最靓嘅猪腩肉》 及香港无线电视处境喜剧《同事三分亲》之主题曲（片头曲）。</string>
			<key>url</key>
			<string>http://2.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>莫扎特</string>
			<key>name</key>
			<string>安睡吧小宝贝</string>
			<key>desc</key>
			<string>睡吧睡吧我亲爱的宝贝\n妈妈的双手轻轻摇着你\n摇篮要你快快安睡\n夜已安静被里多温暖\n睡吧睡吧我亲爱的宝贝\n妈妈的双臂永远保护你\n世上一切快快安睡\n一切温暖全都属于你\n睡吧睡吧我亲爱的宝贝\n妈妈爱你妈妈喜欢你\n一束百合一束玫瑰\n等你睡醒妈妈都给你\n睡吧睡吧亲爱小宝贝</string>
			<key>opporunity</key>
			<string></string>
			<key>url</key>
			<string>http://3.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>《妈咪的爱》</string>
			<key>name</key>
			<string>好甜好甜的梦</string>
			<key>desc</key>
			<string></string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://3.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>《妈咪的爱》</string>
			<key>name</key>
			<string>妈咪的怀抱里</string>
			<key>desc</key>
			<string></string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://3.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>《妈咪的爱》</string>
			<key>name</key>
			<string>开心的笑</string>
			<key>desc</key>
			<string></string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://3.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>《妈咪的爱》</string>
			<key>name</key>
			<string>天使宝贝</string>
			<key>desc</key>
			<string></string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://3.babyalarm.sinaapp.com</string>
		</dict>
		<dict>
			<key>author</key>
			<string>《妈咪的爱》</string>
			<key>name</key>
			<string>天真无邪</string>
			<key>desc</key>
			<string></string>
			<key>opportunity</key>
			<string></string>
			<key>url</key>
			<string>http://1.babyalarm2.sinaapp.com</string>
		</dict>
	</array>
</dict>
</plist>
